/* EditPage.scss */

//Sass Variables
$bodycolor: rgb(199, 223, 235);

$headingFont: "Lobster", cursive;
$editHeading: italic;

body {
  background-color: $bodycolor;
}

//Mixin
@mixin important-text {
  font-weight: bold;
  text-decoration: underline;
  font-size: 30px;
}

.headingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

#editHeading1 {
  /* font-family:Arial, Helvetica, sans-serif; */
  @include important-text;
  font-family: $headingFont;
  font-style: $editHeading;

  color: rgb(9, 9, 128);
}

.editMainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  /* background-color: rgb(223, 247, 250); */
  background: url("../assets/backgroundImage.jpg") center center/cover no-repeat;

  /* 
        'center center': Specifies the horizontal and vertical position of the background image.
        In this case, it centeres the image both horizontally and vertically within the container.

        
        /cover: It ensures that the backgroung image covers the entire container,
        and it may be cropped to achieve this. 

        no-repeat : Specifies that the background image should not be repeated.
        It will be displayed only once. 
    */
}

#editHeading2 {
  @include important-text;
  font-family: "Times New Roman", Times, serif;

  font-style: $editHeading;
  color: blue;
}

.editInputForm {
  background-color: rgb(198, 191, 202);
  width: 500px;
  height: auto;
  border: 1px solid black;
  display: flex;
  margin: 10px;
  padding: 20px;
  justify-content: space-between;
  align-items: flex-start; /*Place the items at the start*/
  flex-direction: column;

  border-radius: 5px;
  text-align: left;
}

/*Sass nesting*/
.editInputForm {
  label {
    margin-bottom: 10px;
    text-align: left;
    display: block; /* Make labels block elements to occupy the full width of the container - Important for
    form elememts to start from the same position in the left */
  }

  /*Add margin below each input*/
  input {
    border-radius: 3px;
    margin-bottom: 10px;
  }
}

.inputfield {
  height: 30px;
  min-width: 200px;
  width: 100%; /*Ask Why isn't it working? */
  border-radius: 3px;
}
